<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
<h1>Portfolio</h1>
<a href="/home">Home</a>
<a href="/event">Event</a>
<a href="/traveling">Travel</a>
<a href="/social">Social</a>
<a href="/Crabby">Crabby</a>
<form action="processForm" method="get">
    First name: <br>
    <input type="text" name="firstname">
    <br>
    Last name:<br>
    <input type="text" name="lastname">
    <br>
    Email: <br>
    <input id="Email" name="email" type="text" value=""/>
    <br>
    <br>
    <textarea name=”posttext” id=”posttext” rows=”5” maxlength=”141”>

    </textarea><br>
    <input type="submit" value="Submit" id="submit"/>
    <input type="reset" value="Clear"/>
</form>


</body>
</html>