<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Employee</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/index">DMV CLUBS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/event">Events</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/traveling" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Traveling
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/traveling">Action</a>
                    <a class="dropdown-item" href="/traveling">Another action</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/social">Link</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


<!------------------------Navigation-------------------------->


<div class="container">

    <div class="container bg-light">
        <div>&nbsp</div>

        <div class="row mt-5 mb-5">
            <div class="col-sm-12 col-md-12" align="center">
                <h1>Employers</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="img/ibm.png" alt="IBM image" >
                    <div class="card-body">

                        <p class="card-text">The International Business Machines Corporation is an American multinational technology company headquartered in Armonk, New York,
                            United States, with operations in over 170 countries</p>
                        <a href="jobs.html">Jobs and more</a>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="img/Oracle.jpg" alt="Card image cap">
                    <div class="card-body">

                        <p class="card-text">Oracle Corporation is an American multinational computer technology corporation, headquartered in Redwood Shores, California</p>
                        <a href="jobs.html">Jobs and more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="img/lmt.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Lockheed Martin is an American global aerospace, defense, security and advanced technologies company with worldwide interests.
                            It was formed by the merger of Lockheed Corporation with Martin Marietta in March 1995.</p>
                        <a href="jobs.html">Jobs and more</a>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</body>
</html>